$rem: 16

// Colors
$blue: rgb(99, 88, 255)
$_ink: rgb(0, 8, 124)
$white: rgba(255, 255, 255, 0.8)

// Fonts
$longform: gitan-latin, sans-serif
$headings: filson-pro, sans-serif

=ucs($space)
    text-transform: uppercase
    letter-spacing: $space